body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

nav {
    text-align: center;
    margin: 10px 0;
}

nav a.button {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 16px;
}

nav a.button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-direction: column;
    width: 50%;
}

.image {
    margin-top: 20px;
    position: relative;
}

.image img.profile {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 50%;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.ikon_gambar {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    bottom: 0px;
    right: 20px;
}

h2 {
    color: #333;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

input[type="text"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
    border-color: #4caf50;
}

.error-message {
    color: #ff0000;
    margin-top: 5px;
}

input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
.button {
    margin-top: 20px;
    display: inline-block;
    margin-left:20px ;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #45a049;
}
