
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

#formPilihKursi {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formPilihKursi h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.Available_seats {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

/* Submit Button Style */
#formPilihKursi input[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formPilihKursi input[type="submit"]:hover {
    background-color: #2980b9;
}
nav {
    background-color: red;
    margin-left: 10px;
    width: 9%;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #2980b9;
}